body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #060707;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #007BFF;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin: 5px 0;
}

#contact p {
    margin: 5px 0;
}

.hospital-img, .history-img, .team-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
